<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="js/lodash.compat.min.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
</head>
<body ng-app="app" ng-controller="CalcCtrl">

<ion-pane>
    <ion-header-bar class="bar-positive">
        <h1 class="title">Pace Calculator</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list card">
            <div class="item item-text-wrap">
                Enter your distance and time to calculate your pace
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Distance</div>

            <label class="item item-input item-select">
                <div class="input-label">
                    Pick an event
                </div>
                <select ng-model="calc.event"
                        ng-options="event as event.name for event in events"
                        ng-change="updateDistance()">
                </select>
            </label>

            <label class="item item-input">
                <span class="input-label">Distance</span>
                <input type="text"
                       class="text-right"
                       ng-model="calc.distance"
                       ng-change="clearEvent()">
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    Unit of measure
                </div>
                <select ng-model="calc.unit"
                        ng-options="unit as unit.name for unit in units track by unit.value"
                        ng-change="updateUnit()">
                </select>
            </label>
        </div>

        <div class="list card">
            <div class="item item-divider">Time</div>

            <!--<div class="row">-->
            <!--<div class="col col-33">-->
            <!--<label class="input-label">Hours</label>-->
            <!--<input type="number"-->
            <!--min="0"-->
            <!--max="50"-->
            <!--step="1"-->
            <!--ng-model="calc.hours">-->
            <!--</div>-->
            <!--<div class="col col-33">-->
            <!--<label class="input-label">Mins</label>-->
            <!--<input type="number"-->
            <!--min="0"-->
            <!--max="59"-->
            <!--step="1"-->
            <!--ng-model="calc.mins">-->
            <!--</div>-->
            <!--<div class="col col-33">-->
            <!--<label class="input-label">Seconds</label>-->
            <!--<input type="number"-->
            <!--min="0"-->
            <!--max="59"-->
            <!--step="1"-->
            <!--ng-model="calc.secs">-->
            <!--</div>-->
            <!--</div>-->

            <div class="item item-input item-select">
                    <span class="input-label">
                        Hours
                    </span>
                <select ng-model="calc.hours"
                        ng-options="hour for hour in hours">
                </select>
            </div>

            <div class="item item-input item-select">
                <label class="input-label">
                    Minutes
                </label>
                <select ng-model="calc.mins"
                        ng-options="min for min in mins">
                </select>
            </div>

            <div class="item item-input item-select">
                <label class="input-label">
                    Seconds
                </label>
                <select ng-model="calc.secs"
                        ng-options="sec for sec in secs">
                </select>
            </div>
        </div>

        <div class="list card">
            <div class="item item-divider">Pace</div>

            <label class="item item-input item-select">
                <strong>
                    <div class="input-label" ng-bind="calculatedPace"></div>
                </strong>
                <select ng-model="calc.pace.unit"
                        ng-options="unit as unit.name for unit in units track by unit.value">
                </select>
            </label>
        </div>
    </ion-content>
</ion-pane>
</body>
</html>
